@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bodyColor: #dfe3ee;
    --sideBarColor: #f7f7f7;
    --primaryColor: #3b5998;
    --primaryColorLight: #F6F5FF;
    --headerColor: #8b9dc3;
    --toggleColor: #DDD;
    --textColor: #333333;
    --header: 1.5rem;
    --subHeader: 1rem;
    --text: 0.8rem;
    --icon: 1.5rem;

    --trans02: all 0.2s ease;
    --trans03: all 0.3s ease;
    --trans04: all 0.4s ease;
    --trans05: all 0.5s ease;

    --shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}

body {
    height: 100vh;
    background-color: var(--bodyColor);
}

/* Reusable CSS*/
.sideBar .text {
    font-size: var(--subHeader);
    font-weight: 500;
    color: var(--textColor);
    transition: var(--trans03);
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sideBar.close .text {
    opacity: 0;
}

.sideBar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sideBarColor);
    transition: var(--trans05);
    z-index: 100;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.sideBar.close {
    width: 88px;
}

.sideBar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sideBar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: var(--icon);
}

.sideBar li .icon,
.sideBar li .text {
    color: var(--textColor);
    transition: var(--trans02);
}

.sideBar header {
    position: relative;
    border-bottom: 1px solid var(--textColor);
}

.sideBar .imageText img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--primaryColor);
}

.sideBar header .imageText {
    display: flex;
    align-items: center;
}

header .imageText .headerText {
    display: flex;
    flex-direction: column;
}

.headerText .name {
    font-weight: 600;
}

.headerText .project {
    margin-top: -2px;
}

.sideBar header .toggle {
    position: absolute;
    top: 50%;
    right: -0.8rem;
    transform: translateY(-50%) rotate(180deg);
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sideBarColor);
    font-size: var(--icon);
    transition: var(--trans03);
}

.sideBar.close header .toggle {
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

.sideBar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans04);
}

.sideBar li a:hover {
    background-color: var(--primaryColor);
}

.sideBar li a:hover .icon,
.sideBar li a:hover .text {
    color: var(--sideBarColor) ;
}

.sideBar .menuBar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideBar .active {
    background-color: var(--bodyColor);
    border-radius: 6px;
}

.sideBar .active a:hover,
.sideBar .active a:hover .icon,
.sideBar .active a:hover .text {
    background-color: var(--bodyColor);
    color: var(--textColor);
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--trans05);
    padding-left: 10px;
    z-index: 1000;
}

.sideBar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

.home .navBar {
    background-color: var(--sideBarColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 8%;
    box-shadow: var(--shadow);
}

.home .navBar .text {
    font-size: var(--header);
    padding: 10px;
}

.home .navBar .navElement {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.home .navBar .navElement .navItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    border: 1px solid var(--textColor);
    padding: 5px;
    border-radius: 8px;
    color: var(--sideBarColor);
    font-size: inherit;
    background-color: var(--primaryColor);
    cursor: pointer;
    transition: var(--trans03);
    box-shadow: var(--shadow);
}

.home .navBar .navElement .navItem .icon {
    font-size: var(--icon);
}
.home .navBar .navElement .navItem .btn {
    border: none;
    background-color: var(--primaryColor);
    padding: 6px;
    color: var(--sideBarColor);
    transition: var(--trans03);
    cursor: pointer;
}
.home .navBar .navElement .navItem:hover {
    background-color: var(--headerColor);
    color: var(--textColor);
}
.home .navBar .navElement .navItem:hover .btn {
    background-color: var(--headerColor);
    color: var(--textColor);
}

.home .navBar .navElement .navItem a {
    outline: none;
    display: block;
    text-decoration: none;
    color: var(--sideBarColor);
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.home .navBar .navElement .navItem:hover a {
    background-color: var(--headerColor);
    color: var(--textColor);
}

.home .mainContainer {
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
}

.home .mainContainer .mainElement {
    width: calc(100% - 20px);
    height: 50%;
    margin: 8px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    overflow:hidden;
}

.mainElement .element {   
    border-radius: 1rem;
    background-color: var(--sideBarColor);
    box-shadow: var(--shadow);
    height: 415px;
    margin-bottom: 1rem;
}

.mainElement .searchElement {
    border-radius: 1rem;
    background-color: var(--sideBarColor);
    box-shadow: var(--shadow);
    height: 415px;
}

.home .mainContainer .mainElement .header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--textColor);
    border-radius: 8px;
    background-color: var(--headerColor);
    height: 4rem;
    position: relative;
}

.home .mainContainer .mainElement .header .headerItem {
    margin-inline: 10px;
}

.mainElement .header .title {
    font-size: var(--subHeader);
}

.mainElement .header input {
    outline: none;
    border: 1px solid var(--textColor);
    border-radius: 16px;
    padding: 0.5rem 1rem;
    font-size: var(--text);
    width: 80%;
}

.mainElement .header .addBtn {
    padding: 0.5rem 1rem;
    background-color: var(--primaryColor);
    outline: none;
    border: none;
    border-radius: 8px;
    width: 4rem;
    cursor: pointer;
    color: var(--sideBarColor);
    transition: var(--trans03);
}

.mainElement .header .addBtn:hover {
    background-color: var(--sideBarColor);
    color: var(--textColor);
    border: 1px solid var(--textColor);
}

.searchElement .itemsList {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding: 0.5rem; 
    box-sizing: border-box;
}

.element .header .title {
    font-size: var(--subHeader);
    font-weight: 700;
}

.element .itemList {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.element .itemList .item {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 0.5rem;
    align-items: center;
}

.home .mainContainer .subElement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
}

.home .mainContainer .subElement .block {
    margin: 0.5rem;
    background-color: var(--sideBarColor);
    border-radius: 16px;
    height: 80%;
    box-shadow: var(--shadow);
}

.form {
    height: 95%;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

thead , th{
    position: sticky;
    top: 0;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--headerColor);
}


input[type="text"], input[type="number"] {
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.action-btn {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.remove-btn {
    background-color: #f44336;
    color: white;
}

.remove-btn:hover {
    background-color: #e53935;
}

.subElement .block .blockHeader {
    padding: 10px;
    background-color: var(--headerColor);
}

.subElement .block .blockElement {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.subElement .block .blockElement .blockItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.subElement .block .blockElement .blockItem input {
    width: 80%;
}

.subElement .block .blockElement .blockItem select {
    width: 80%;
    border-radius: 5px;
    outline: none;
}

textarea {
    width: 100%;
    height: 60%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--textColor);
    border-radius: 6px;
    background-color: var(--sideBarColor);
    font-size: 14px;
    resize: none;
}

/* Form Layout */
.cancelForm {
    overflow: hidden;
}

.cancel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 10px;
}

.cancel .formElement {
    display: flex;
    align-items: start;
    flex-direction: column;
}

/* Sub-section and Items */
.subElement-C {
    height: 40%;
    width: 100%;
    padding: 5px;
    background-color: var(--sideBarColor);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.subSection {
    max-height: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: 10px;
    background-color: var(--sideBarColor);
    border-radius: 16px;
}

.subSectionElement {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    background-color: var(--sideBarColor);
    border-radius: 16px;
    padding-bottom: 10px;
}

#billList {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.billItem {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

.billItem:hover {
    background-color: #f0f0f0;
}

.home .mainMasterContainer {
    display: grid;
    height: calc(100% - 60px);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.home .mainMasterContainer .mainMasterElement {
    width: 12rem;
    height: 12rem;
    background-color: var(--sideBarColor);
    border-radius: 5px;
    box-shadow: var(--shadow);
    border-radius: 20px;
    margin: auto;
    transition: var(--trans03);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.home .mainMasterContainer .mainMasterElement:hover {
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--primaryColor);
    
}

.mainMasterElement:hover i,
.mainMasterElement:hover a {
    color: var(--sideBarColor);
}

.mainMasterElement i {
    font-size: 3rem;
    color: var(--textColor);
}

.mainMasterElement a {
    text-decoration: none;
    color: var(--textColor);
}

.mainMasterElement a:hover {
    text-decoration: underline;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px 0;
    display: block;
}

/* Container for each search item */
.searchItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto;
    background-color: #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 80%;
}

.searchItem:hover {
    background-color: #f8f8f8;
}


.item-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}


.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.itemName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}


.itemPrice {
    font-size: 16px;
    color: #666;
    margin-bottom: 4px;
}

/* Item type styling */
.itemType {
    font-size: 14px;
    color: #999;
    margin-bottom: 4px;
}

/* Item category styling */
.itemCat {
    font-size: 14px;
    color: #444;
}