<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/style.css">
    <title>TeamSynk - Canteen</title>
</head>
<body>
    <nav class="sideBar close">
        <header>
            <div class="imageText">
                <span class="image">
                    <img src="#" alt="logo">
                </span>
                <div class="text headerText">
                    <span class="name">TeamSynk</span>
                    <span class="project">Canteen</span>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </div>
        </header>
        <div class="menuBar">
            <div class="menu">
                <ul class="menuLinks">
                    <li class="navLink">
                        <a href="index.html">
                            <i class='bx bx-home icon'></i>
                            <span class="text navText">Home</span>
                        </a>
                    </li>
                    <li class="navLink active">
                        <a href="masters.html">
                            <i class='bx bx-book-add icon'></i>
                            <span class="text navText">Masters</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="sales.html">
                            <i class='bx bx-coffee icon'></i>
                            <span class="text navText">OP Sales</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="cancellation.html">
                            <i class='bx bx-message-alt-x icon'></i>
                            <span class="text navText">Bill Cancellation</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="revenue.html">
                            <i class='bx bx-chart icon'></i>
                            <span class="text navText">Revenue</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="reports.html">
                            <i class='bx bxs-report icon'></i>
                            <span class="text navText">Report</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottomContent">
                <li class="navLink">
                    <a href="#">
                        <i class='bx bx-log-out-circle icon'></i>
                        <span class="text navText">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav> 
    <section class="home">
        <div class="navBar">
            <header class="text">Masters</header>
        </div>
        <div class="mainMasterContainer">
            <div class="mainMasterElement">
                <span><i class='bx bx-money'></i></span>
                <a href="paymentType.html">Payment Type</a>
            </div>
            <div class="mainMasterElement">
                <span><i class='bx bx-category'></i></span>
                <a href="foodCat.html">Food Category</a>
            </div>
            <div class="mainMasterElement">
                <span><i class='bx bx-bowl-hot'></i></span>
                <a href="foodItem.html">Food Item</a>
            </div>
            <div class="mainMasterElement">
                <span><i class='bx bx-rupee' ></i></span>
                <a href="foodRate.html">Food Rate</a>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const body = document.querySelector("body"),
            sideBar = body.querySelector(".sideBar"),
            toggle = body.querySelector(".toggle");

            toggle.addEventListener("click", () => {
                sideBar.classList.toggle("close");
            });
        });
    </script>
</body>
</html>