<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/style.css">
    <title>TeamSynk - Canteen</title>
</head>
<body>
    <nav class="sideBar close">
        <header>
            <div class="imageText">
                <span class="image">
                    <img src="#" alt="logo">
                </span>
                <div class="text headerText">
                    <span class="name">TeamSynk</span>
                    <span class="project">Canteen</span>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </div>
        </header>
        <div class="menuBar">
            <div class="menu">
                <ul class="menuLinks">
                    <li class="navLink">
                        <a href="index.html">
                            <i class='bx bx-home icon' ></i>
                            <span class="text navText">Home</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="masters.html">
                            <i class='bx bx-book-add icon'></i>
                            <span class="text navText">Masters</span>
                        </a>
                    </li>
                    <li class="navLink active">
                        <a href="opcanteen.html">
                            <i class='bx bx-coffee icon'></i>
                            <span class="text navText">OP Sales</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="cancellation.html">
                            <i class='bx bx-message-alt-x icon' ></i>
                            <span class="text navText">Bill Cancellation</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="revenue.html">
                            <i class='bx bx-chart icon'></i>
                            <span class="text navText">Revenue</span>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="reports.html">
                            <i class='bx bxs-report icon' ></i>
                            <span class="text navText">Report</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottomContent">
                <li class="navLink">
                    <a href="#">
                        <i class='bx bx-log-out-circle icon'></i>
                        <span class="text navText">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="navBar">
            <header class="text">OP Sales</header>
            <div class="navBarItem">
                <input type="radio" name="dineType" id="dineIn" value="Dine In" checked>
                <label for="dineIn">Dine In</label>
            </div>
            <div class="navBarItem">
                <input type="radio" name="dineType" id="dineOut" value="Take Away">
                <label for="dineIn">Take Away</label>
            </div>
            <div class="navElement">
                <div class="navItem" onclick="submitForm()">
                    <i class='bx bx-save icon'></i>
                    <button class="btn" onclick="submitForm()">Save</button>
                </div>
                <div class="navItem" onclick="clearForm()">
                    <i class='bx bx-eraser icon' ></i>
                    <button class="btn" onclick="clearForm()">Clear</button>
                </div>
                <div class="navItem">
                    <i class='bx bx-grid icon'></i>
                    <a href="#" class="navItem link">View Record</a>
                </div> 
            </div>
        </div>
        <div class="mainContainer">
            <div class="mainElement">
                <div class="searchElement">
                    <div class="header">
                        <input type="search" class="headerItem search" id="searchInput" placeholder="Search Item">
                    </div>
                    <div class="itemsList" id="itemListContainer">
                    </div>
                </div>
                <div class="element">
                    <div class="form">
                        <form action="">
                            <table id="itemTable">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th>S.No</th>
                                        <th>Item Name</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Discount</th>
                                        <th>Net Amount</th>
                                        <th>Tax</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="element">
                    <div class="header">
                        <header class="title">
                            Customer Details
                        </header>
                    </div>
                    <div class="itemList">
                        <div class="item">
                            <label for="name">Name :</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="item">
                            <label for="gender">Gender :</label>
                            <select name="gender" id="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="mblNum">Mobile Number :</label>
                            <input type="text" name="mblNum" id="mblNum" maxlength="10">
                        </div>
                        <div class="item">
                            <label for="age">Age :</label>
                            <input type="number" name="age" id="age" min="5" max="60" value="13">
                        </div>
                    </div>
                </div>
            </div>
            <div class="subElement">
                <div class="block">
                    <div class="blockHeader">
                        <h3 class="blockTitle">Bill Info</h3>
                    </div>
                    <div class="blockElement">
                        <div class="blockItem">
                            <lable for="billNo">Bill No :</lable>
                            <input type="text" name="billNo" id="billNo" disabled>
                        </div>
                        <div class="blockItem">
                            <lable for="grossAmt">Gross :</lable>
                            <input type="number" name="grossAmt" id="grossAmt" disabled>
                        </div>
                        <div class="blockItem">
                            <lable for="taxAmt">Tax :</lable>
                            <input type="number" name="taxAmt" id="taxAmt" disabled>
                        </div>
                        <div class="blockItem">
                            <lable for="dueAmt">Due :</lable>
                            <input type="number" name="dueAmt" id="dueAmt" disabled>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="blockHeader">
                        <h3 class="blockTitle">Receipt Info</h3>
                    </div>
                    <div class="blockElement">
                        <div class="blockItem">
                            <lable for="receiptNo">Receipt No</lable>
                            <input type="text" name="receiptNo" id="receiptNo" disabled>
                        </div>
                        <div class="blockItem">
                            <lable for="receiptDt">Receipt Date</lable>
                            <input type="date" name="receiptDt" id="receiptDt" disabled>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="blockHeader">
                        <h3 class="blockTitle">Payment Info</h3>
                    </div>
                    <div class="blockElement">
                        <div class="blockItem">
                            <lable for="paymentType">Payment type</lable>
                            <select name="paymentType" id="paymentType">
                                <option value="cash">Cash</option>
                                <option value="card">Card</option>
                                <option value="upi">UPI</option>
                            </select>
                        </div>
                        <div class="blockItem">
                            <lable for="paidAmt">Paid Amount</lable>
                            <input type="number" name="paidAmt" id="paidAmt">
                        </div>
                        <div class="blockItem">
                            <lable for="cadrNo">Card Number</lable>
                            <input type="text" name="cadrNo" id="cadrNo" disabled>
                        </div>
                        <div class="blockItem">
                            <lable for="transNo">Transaction Number</lable>
                            <input type="text" name="transNo" id="transNo" disabled>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <script>
        
        const body = document.querySelector("body"),
        sideBar = body.querySelector(".sideBar"),
        toggle = body.querySelector(".toggle");

        document.getElementById('paidAmt').addEventListener('input', recalculateDueAmount);
        document.getElementById('paidAmt').addEventListener('input', validatePaidAmount);


        toggle.addEventListener("click", () => {
            sideBar.classList.toggle("close");
        });

        
    
        let itemCount = 0;
        let grossAmount = 0;
        let taxAmount = 0;
        let dueAmount = 0;
    
        const TAX_PERCENTAGE = 5;
        
        function calculateNetAmount(row) {
            const qtyInput = row.querySelector('.qty');
            const rateInput = row.querySelector('.rate');
            const discountInput = row.querySelector('.discount');
            const amountInput = row.querySelector('.amount');
            const netAmountInput = row.querySelector('.netAmount');
            const taxInput = row.querySelector('.tax');
    
            const qty = parseFloat(qtyInput.value) || 0;
            const rate = parseFloat(rateInput.value) || 0;
            const discount = parseFloat(discountInput.value) || 0;
    
            if (qty <= 0 || rate <= 0) {
                alert("Quantity and Rate must be greater than 0");
                return;
            }
                
            const amount = qty * rate;
            amountInput.value = amount.toFixed(2);
                
            const netAmount = amount - (amount * discount / 100);
            netAmountInput.value = netAmount.toFixed(2);

            
            const taxAmount = netAmount * (TAX_PERCENTAGE / 100);
            taxInput.value = taxAmount.toFixed(2);
    
            recalculateGrossAmount();
            recalculateTaxAmount();
            recalculateDueAmount();
        }

        function validatePaidAmount(){
            if(document.getElementById('paidAmt').value > grossAmount) {
                alert("Paid Amount should not be greater than Gross Amount");
                document.getElementById('paidAmt').value = '';
                recalculateDueAmount();
            }
        }
    
        function recalculateGrossAmount() {
            const rows = document.querySelectorAll('#itemTable tbody tr');
            grossAmount = 0;
    
            rows.forEach((row) => {
                const netAmountInput = row.querySelector('.netAmount');
                const netAmount = parseFloat(netAmountInput.value) || 0;
                grossAmount += (netAmount + taxAmount);
            });
    
            document.getElementById('grossAmt').value = grossAmount.toFixed(2);

            if(itemCount>0){
                if (grossAmount === 0) {
                    document.getElementById('paidAmt').value = 0;
                    alert("Gross amount is zero.");
                }
            }
            recalculateDueAmount();
        }

        function recalculateTaxAmount() {
            const rows = document.querySelectorAll('#itemTable tbody tr');
            taxAmount = 0;
    
            rows.forEach((row) => {
                const netTaxAmountInput = row.querySelector('.tax');
                const netTaxAmount = parseFloat(netTaxAmountInput.value) || 0;
                taxAmount += netTaxAmount;
            });

            document.getElementById('taxAmt').value = taxAmount.toFixed(2);
        }

        function recalculateDueAmount() {
            dueAmount = grossAmount - document.getElementById('paidAmt').value;
            document.getElementById('dueAmt').value = dueAmount.toFixed(2);
        }

        function removeRow(button) {
            const row = button.closest('tr');
            row.remove();
          
            recalculateSerialNumbers();
            recalculateGrossAmount();
            recalculateTaxAmount();
            recalculateDueAmount();
        }
    
        
        function recalculateSerialNumbers() {
            const rows = document.querySelectorAll('#itemTable tbody tr');
            rows.forEach((row, index) => {
                row.cells[1].innerText = index + 1;
            });
            itemCount = rows.length;
        }
    
        function generateReceiptNumber() {
            const receiptNo = document.getElementById('receiptNo');
            if (receiptNo.value === "") {
                
                let lastReceiptNumber = parseInt(localStorage.getItem('lastReceiptNumber')) || 0;
                lastReceiptNumber += 1;
                const receiptNumber = `REC${lastReceiptNumber.toString().padStart(4, '0')}`;
                receiptNo.value = receiptNumber;
                localStorage.setItem('lastReceiptNumber', lastReceiptNumber);
            }
        }
        function generateBillNumber() {
            const billInput = document.getElementById('billNo');

            if (billInput.value === "") {
                let lastBillNo = parseInt(localStorage.getItem('lastBillNo')) || 0;
                lastBillNo += 1;
                const newBillNo = `BILL${lastBillNo.toString().padStart(4, '0')}`;
                billInput.value = newBillNo;
                localStorage.setItem('lastBillNo', lastBillNo);
            }
        }
    
        function setTodayDate() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('receiptDt').value = today;
        }
    
        function handlePaymentTypeChange() {
            const paymentType = document.getElementById('paymentType').value;
            const cardNoInput = document.getElementById('cadrNo');
            const transNoInput = document.getElementById('transNo');
    
            if (paymentType === "cash") {
                cardNoInput.disabled = true;
                transNoInput.disabled = true;
                document.getElementById('transNo').value = '';
                document.getElementById('cadrNo').value = '';
            } else if (paymentType === "card") {
                cardNoInput.disabled = false;
                transNoInput.disabled = true;
                document.getElementById('transNo').value = '';
            } else if (paymentType === "upi") {
                cardNoInput.disabled = true;
                transNoInput.disabled = false;
                document.getElementById('cadrNo').value = '';
            }
        }

        function clearForm() {
            document.getElementById('grossAmt').value = '';
            document.getElementById('taxAmt').value = '';
            document.getElementById('dueAmt').value = '';
            document.getElementById('paidAmt').value = '';
            document.getElementById('receiptNo').value = '';
            document.getElementById('receiptDt').value = '';
            document.getElementById('paymentType').value = 'cash';
            document.getElementById('cadrNo').value = '';
            document.getElementById('transNo').value = '';
            document.getElementById('searchInput').value = '';
            
            const table = document.getElementById('itemTable').getElementsByTagName('tbody')[0];
            table.innerHTML = '';
            itemCount = 0;
            grossAmount = 0;
            taxAmount = 0;
            dueAmount = 0;
            localStorage.clear();
            recalculateGrossAmount();
            recalculateTaxAmount();
            recalculateDueAmount();
            generateBillNumber();
            generateReceiptNumber();
        }
    
        function submitForm() {
            const billNo = document.getElementById('billNo').value
            const receiptNo = document.getElementById('receiptNo').value;
            const grossAmt = document.getElementById('grossAmt').value;
            const paidAmt = document.getElementById('paidAmt').value;
            const dueAmt = document.getElementById('dueAmt').value;
            const paymentType = document.getElementById('paymentType').value;
            const cardNo = document.getElementById('cadrNo').value;
            const transNo = document.getElementById('transNo').value;
            const receiptDt = document.getElementById('receiptDt').value
            const customerName = document.getElementById('name').value;
            const customerAge = document.getElementById('age').value;
            const customerMblNum = document.getElementById('mblNum').value;
            const customerGender = document.getElementById('gender').value;
            const dineType = document.querySelector('input[name="dineType"]:checked').value;

            alert(`\tBill No: ${billNo}\n
                Receipt No: ${receiptNo}\n
                Dine Type: ${dineType}\n
                Customer Name: ${customerName}\n
                Customer Age: ${customerAge}\n
                Customer Gender: ${customerGender}\n
                Customer Mobile Number: ${customerMblNum}\n
                Gross Amount: ${grossAmt}\n
                Paid Amount: ${paidAmt}\n
                Due Amount: ${dueAmt}\n
                Payment Type: ${paymentType}\n
                Card Number: ${cardNo}\n
                Receipt Date : ${receiptDt}\n
                Transaction No: ${transNo}`);

            clearForm();
        }

        document.getElementById('paymentType').addEventListener('change', handlePaymentTypeChange);
    
        window.onload = () => {
            generateReceiptNumber();
            setTodayDate();
            generateBillNumber();
            renderItems();
        };

        const items = [
  { name: "Pasta", price: "12", type: "Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Pata", price: "12", type: "Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Past", price: "12", type: "Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Psta", price: "12", type: "Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Chicken Curry", price: "15", type: "Non Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Salad", price: "8", type: "Veg", category: "Appetizer", imageUrl: "https://via.placeholder.com/80" },
  { name: "Fish Fry", price: "18", type: "Non Veg", category: "Main Course", imageUrl: "https://via.placeholder.com/80" },
  { name: "Veg Burger", price: "10", type: "Veg", category: "Snack", imageUrl: "https://via.placeholder.com/80" }
];

function renderItems(query = "") {
    const searchResultsContainer = document.getElementById('itemListContainer');
    searchResultsContainer.innerHTML = '';

    const filteredItems = items.filter(item => 
        item.name.toLowerCase().includes(query.toLowerCase())
    );

    filteredItems.forEach(item => {
        const itemElement = document.createElement('div');
        itemElement.classList.add('searchItem');
        
        itemElement.innerHTML = `
            <img class="item-image" src="${item.imageUrl}" alt="${item.name}">
            <div class="list">
                <h3 class="itemName left">${item.name}</h3>
                <p class="itemType right">${item.type}</p>
                <p class="itemPrice left">${item.price}</p>
                <p class="itemCat right">${item.category}</p>
            </div>
        `;
        
        itemElement.addEventListener('click', () => {
            addItemToTable(item);
        });

        searchResultsContainer.appendChild(itemElement);
    });

    if (filteredItems.length === 0) {
        searchResultsContainer.innerHTML = '<p>No items found</p>';
    }
}

document.getElementById('searchInput').addEventListener('input', (e) => {
    renderItems(e.target.value);
});

        function addItemToTable(item) {
            const table = document.getElementById('itemTable').getElementsByTagName('tbody')[0];

            const existingRows = table.querySelectorAll('tr');
            for (let row of existingRows) {
                const itemName = row.querySelector('td:nth-child(3) input').value;
                if (itemName === item.name) {
                    alert(`${item.name} is already added to the table.`);
                    return;
                }
            }

            const row = table.insertRow();
            const itemCount = table.rows.length;

            row.innerHTML =`
                <td><button class="action-btn remove-btn" onclick="removeRow(this)"><i class='bx bx-trash icon'></i></button></td>
                <td>${itemCount}</td>
                <td><input type="text" value="${item.name}" disabled></td>
                <td><input type="number" class="qty" value="1" min="1" oninput="calculateNetAmount(this.closest('tr'))"></td>
                <td><input type="number" class="rate" value="${item.price}" disabled></td>
                <td><input type="number" class="amount" value="100" disabled></td>
                <td><input type="number" class="discount" value="0" min="0" oninput="calculateNetAmount(this.closest('tr'))"></td>
                <td><input type="number" class="netAmount" value="100" disabled></td>
                <td><input type="number" class="tax" value="5" disabled></td>
            `
            calculateNetAmount(row);
            recalculateGrossAmount();
            recalculateTaxAmount();
            recalculateDueAmount();
        }  
        
        generateReceiptNumber();
        setTodayDate();
        generateBillNumber();
        renderItems();
    </script>     
</body>
</html>